# {{ ansible_managed }}
server {
    listen 80;
    server_name {{ domain }};
    return 301 https://$server_name$request_uri;
}

server {
    listen {{ nginx_port }} ssl http2;
    server_name {{ domain }};

    ssl_certificate {{ cert_path }}/{{ domain }}.pem;
    ssl_certificate_key {{ cert_path }}/{{ domain }}.key;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256;

    root /usr/share/nginx/html;

    {% if allow_spider == 'n' %}
    location = /robots.txt {
        add_header Content-Type text/plain;
        return 200 "User-Agent: *\nDisallow: /\n";
    }
    {% endif %}

    location / {
        {% if proxy_url %}
        proxy_pass {{ proxy_url }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        {% else %}
        index index.html;
        {% endif %}
    }

    {% if enable_ws %}
    location {{ ws_path }} {
        proxy_redirect off;
        proxy_pass http://127.0.0.1:{{ v2ray_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
    {% endif %}
}