# {{ ansible_managed }}
[Unit]
Description=V2Ray Service
After=network.target

[Service]
User=root
ExecStart=/usr/bin/env v2ray.vmess.aead.forced=false /usr/local/bin/v2ray run -config /etc/v2ray/config.json
Restart=on-failure
RestartSec=5
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target