[Unit]
Description=cert auto Service
Documentation=
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/ss-server
Restart=on-failure
RestartSec=1200s
ExecStart=/usr/local/bin/cert-auto -dockerComposePath=/root/ss-server -certPath=/etc/v2ray/tls  -domain=127.0.0.1:443

[Install]
WantedBy=multi-user.target
